<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <services>
            <service name="ServiceMtk_P1_035.Matematika">
                <endpoint address="http://localhost:1907" binding="basicHttpBinding"
                    bindingConfiguration="" name="EndpointService" contract="ServiceMtk_P1_035.IMatematika" />
            </service>
        </services>
    </system.serviceModel>
</configuration>